body {
    font-family: Roboto;
    color:#2E2F42;
    background-color:#FFFFFF
}

/* Header */

.logo {
color: #4d5ae5;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.studio {
    color: #2e2f42;
}